<mat-sidenav-container class="drawer-container" autosize>
  <mat-sidenav #sidenav class="drawer-sidenav" mode="side" opened="true" disableClose>
    <mat-nav-list class="drawer-list">
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon>menu_round</mat-icon>
        <p matLine *ngIf="isExpanded" class="mat-list-text-icon">Menu</p>
      </mat-list-item>
      <mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon mat-list-icon>home_round</mat-icon>
        <p matLine *ngIf="isExpanded" class="mat-list-text-icon">Home</p>
      </mat-list-item>
      <mat-list-item routerLink="/search" routerLinkActive="active">
        <mat-icon mat-list-icon>search_round</mat-icon>
        <p matLine *ngIf="isExpanded" class="mat-list-text-icon">Search</p>
      </mat-list-item>
      <mat-list-item routerLink="/history" routerLinkActive="active">
        <mat-icon mat-list-icon>history_round</mat-icon>
        <p matLine *ngIf="isExpanded" class="mat-list-text-icon">History</p>
      </mat-list-item>
      <mat-list-item routerLink="/bookmarks" routerLinkActive="active">
        <mat-icon mat-list-icon>bookmark_round</mat-icon>
        <p matLine *ngIf="isExpanded" class="mat-list-text-icon">Bookmarks</p>
      </mat-list-item>
      <mat-divider class="padded-divider"></mat-divider>
      <!-- other buttons according to page -->
      <div class="vertical-spacer"></div>
      <mat-list-item routerLink="/settings" routerLinkActive="active">
        <mat-icon mat-list-icon>settings_round</mat-icon>
        <p matLine *ngIf="isExpanded" class="mat-list-text-icon">Settings</p>
      </mat-list-item>
      <mat-list-item routerLink="/about" routerLinkActive="active">
        <mat-icon mat-list-icon>info_round</mat-icon>
        <p matLine *ngIf="isExpanded" class="mat-list-text-icon">About</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="drawer-sidenav-content">
    <mat-toolbar color="primary" class="titlebar">
      <mat-toolbar-row>
        <span>Third Line</span>
        <span class="title-spacer"></span>
        <mat-icon class="title-icon" aria-hidden="false" aria-label="minimize" (click)="minimize()">remove_round</mat-icon>
        <mat-icon class="title-icon" aria-hidden="false" aria-label="maximize" (click)="maximize()">crop_square_round</mat-icon>
        <mat-icon class="title-icon close" aria-hidden="false" aria-label="close" (click)="close()">clear_round</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
