.drawer-container {
    width: 100%;
    height: 100%;
    .drawer-sidenav {
        .drawer-list {
            padding-top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            .mat-list-text-icon {
                padding-right: 10px; // material icons extra width and padding
            }
            .padded-divider {
                margin: 0 14px;
            }
            .vertical-spacer {
                flex: 1 1 auto;
            }
        }
    }
    .drawer-sidenav-content {
        display: flex;
        height: 100%;
        flex-direction: column;
        overflow: hidden;
        .titlebar {
            -webkit-app-region: drag;
            height: 35px;
            min-height: 35px;
            max-height: 35px;
            .mat-toolbar-row, span {
                height: 35px;
                min-height: 35px;
                max-height: 35px;
                padding: 0;
            }
            span {
                font-size: 13px;
                line-height: 35px;
            }
            .title-icon {
                -webkit-app-region: no-drag;
                font-size: 18px;
                height: 18px;
                width: 18px;
                padding: 8.5px 13px;
                cursor: pointer;
                &:hover {
                    background-color: hsla(0,0%,100%,.1);
                }
                &.close:hover {
                    background-color: rgba(232,17,35,.9);
                }
            }
            .title-spacer {
                flex: 1 1 auto;
            }
        }
        .page-container {
            flex: 1 1 auto;
        }
    }
}