/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import 'theme';

html, 
body {
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.drawer-sidenav {
    .mat-drawer-inner-container {
        overflow: hidden;
    }
}

.material-icons {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}